@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@media screen and (min-width: 575px) {
     {
        max-width:500px;
    }
  }
  
  
  @media screen and (max-width: 575px) {
    img {
        max-width: 90%;
    }
  }

* {
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}

h1,h2,p{
    text-align:center;
}
img{
    display: flex;
    margin: 0 auto;
    width: 70%;
    height: auto;
}

h1 {
    font-size: 72px;
}

body {
    width: 70%;
    margin: 0 auto;
}

.centerlist
{
    min-width:250px;
    width:fit-content;
    margin: 0 auto;
}

.ingredients, .directions {
    text-align: left;
}